.messages{
  height: 100%;
  padding: calc(var(--main-size-text ) + 6px);;
  padding-bottom: 0;
  overflow: auto;
  max-width: 1000px;
  margin: 0 auto;
  &::-webkit-scrollbar {
    width: 0;

  }
  &--loading{
    display: flex;
    align-items:center;
    justify-content: center;
    .ant-spin-nested-loading{
      width: 100%;
    }
  }
}
.SpinLoadingOldMessages{
  left: 50%;
  min-width: 75px;
  color: black;
  transform: translateY(60px);
}
.chat__dialog-messages{
  position: relative;
  max-height: 86%;
}