.chat-input{
  padding:  calc(var(--main-size-text ) + 6px);
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  & > div:first-of-type{
    display: flex;
  }
  &__smile-btn{
    margin-right:  calc(var(--main-size-text ) - 3px);
    display: flex;
    align-items: center;
  }
  &__emoji-picker{
    position: absolute;
    bottom: 50px;
    z-index: 1;
  }
  &__record-status{
    display: flex;
    align-items:center;
    flex: 1;
    justify-content: center;
    color: #f56b6b;
    .stop-recording{
      margin-left: 5px;
      display: flex;
      justify-content: center;
      align-items:center;
      span{
        span{
          svg{
            position: relative;
            top: -1px;
            width: var(--main-size-text );
            height: var(--main-size-text );
          }
        }
      }
    }
    &-bubble{
      display: inline-block;
      height: 10px;
      width: 10px;
      position: relative;
      background-color: #f56b6b;
      border-radius: 30px;
      margin-right: 5px;
      &::before{
        content: "";
        position:absolute;
        left:0;
        top: 0;
        height: 10px;
        width: 10px;
        background-color: rgba(245, 107, 107, 0.5);
        border-radius: 30px;
        animation: wave-animation 1s ease-in-out infinite;
        transition: transform 0.15s ease-in-out;
        transform: scale(1);
      }
    }
  }
  &__attachments{
    padding-top: calc(var(--main-size-text ) - 4px);
    padding-left: calc(var(--main-size-text ) + 33px);
  }
  .ant-btn-circle{

    span.anticon{
      font-size: 1.42857143em;
      cursor: pointer;;
    }
  }
  &__actions{
    display: flex;
    align-items:center;
    width:calc(var(--main-size-text ) * 5.71428571);
    justify-content: space-between;
    margin-left: calc(var(--main-size-text ) + 1px);
    .chat-input_actions-upload-btn{
      cursor: pointer;
      
      &:hover{
        button{
          opacity:1 ;
        }
      }
    }
  }
  textArea{
    background-color:var(--background-secondaryСolor);
    border:none;
    color:var(--color-text);
    font-size: var(--main-size-text );
    &::placeholder{
      color:var(--color-text-secondary);
    }
    &::-webkit-scrollbar {
      width: 0;
    }
    &:focus{
      box-shadow: none !important;
    }
  }
}

@keyframes wave-animation {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.3);
  }
  100%{
    transform: scale(1);
  }
}


.chat-input-textArea-container{
  width: 100%;
  position: relative;
}
.chat-input-embeddedMessage{
  display: flex;
  justify-content: space-between;
  border-radius:10px 10px 0px 0px;
  width:100%;
  position: absolute;
  bottom: 30px;
  background-color: var(--background-secondaryСolor);
  &-info{
    margin:  calc(var(--main-size-text ) - 1px);
    border-left:  calc(var(--main-size-text ) / 4) solid var(--blue-light);
    padding: 0 calc(var(--main-size-text ) - 1px);
    overflow: hidden;
    white-space: nowrap;
    p{
      width: 70%;
      min-width: calc(var(--main-size-text ) * 30);
      word-wrap: break-word;
      text-overflow: ellipsis;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  button{
    margin: auto 0;
  }
  &~textArea{
    border-radius: 0px 0px 10px 10px;
  
  }
}