@charset "UTF-8";
html {
  --main-size-text: 14px ;
  --blue:#3674FF;
  --blue--dark:#0F3997;
  --blue-light:#418FFF;
}

@media (max-width: 1024px) and (min-width: 768px) {
  html {
    --main-size-text: 12px ;
  }
}
@media (max-width: 768px) {
  html {
    --main-size-text: 10px ;
  }
}
html:has(.wrapper[data-theme=light]) {
  --background-color: white;
  --background-secondaryСolor:#d1d1d1;
  --color-text:black;
  --color-text-secondary:rgb(80, 80, 80);
}

html:has(.wrapper[data-theme=dark]) {
  --background-color:rgb(37, 37, 37);
  --background-secondaryСolor:#373737;
  --color-text:white;
  --blue:#9118c9;
  --blue--dark:#700f97;
  --blue-light:#aa41ff;
  --color-text-secondary:rgb(185, 181, 181);
}

.dialogs__search {
  padding: calc(var(--main-size-text) - 9px) calc(var(--main-size-text) + 6px) calc(var(--main-size-text) + 6px) calc(var(--main-size-text) + 6px);
  position: relative;
}
.dialogs__search .ant-input, .dialogs__search button {
  border: 0;
  height: calc(var(--main-size-text) + 24px);
  padding: calc(var(--main-size-text) - 10px) calc(var(--main-size-text) - 3px) calc(var(--main-size-text) - 8px);
}
.dialogs__search .ant-input::placeholder, .dialogs__search button::placeholder {
  color: var(--color-text-secondary);
}
.dialogs__search-icon {
  position: absolute;
  right: calc(var(--main-size-text) + 16px);
  top: calc(var(--main-size-text) + 4px);
  color: var(--color-text);
  transition: opacity 0.5s ease;
}
.dialogs__search:hover .dialogs__search-icon {
  opacity: 0.6;
}
.dialogs__item {
  display: flex;
  margin-bottom: calc(var(--main-size-text) + 16px);
  color: #202020;
  transition: all 0.1s ease;
  color: var(--color-text);
}
.dialogs__item:hover {
  background-color: var(--background-secondaryСolor);
  color: var(--color-text);
}
.dialogs__item--selected, .dialogs__item--selected:hover {
  background-color: var(--blue);
  color: #FFF !important;
}
.dialogs__item-avatar {
  position: relative;
  flex: 0 0 calc(var(--main-size-text) + 26px);
  width: calc(var(--main-size-text) + 26px);
  height: calc(var(--main-size-text) + 26px);
  margin-right: calc(var(--main-size-text) - 4px);
}
.dialogs__item-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.dialogs__item--online .dialogs__item-avatar::before {
  display: block;
  position: absolute;
  bottom: -2px;
  right: 0;
  content: "";
  background-color: #00c980;
  border-radius: 30px;
  width: 13px;
  height: 13px;
  border: 3px solid #fff;
}
.dialogs__item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.dialogs__item-info-top {
  display: flex;
}
.dialogs__item-info-top b {
  font-weight: 500;
  font-size: 14px;
  flex: 1;
  margin-bottom: 6px;
}
.dialogs__item-info-top span {
  opacity: 0.5;
}
.dialogs__item-info-bottom {
  position: relative;
}
.dialogs__item-info-bottom p {
  opacity: 0.7;
  text-overflow: ellipsis;
  overflow: hidden;
  width: calc(var(--main-size-text) * 15.7142857);
  height: 1.2em;
  white-space: nowrap;
}
.dialogs__item-info-bottom-count {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #f46b6b;
  color: #fff;
  font-weight: bold;
  width: 100%;
  min-width: calc(var(--main-size-text) + 4px);
  max-width: calc(var(--main-size-text) + 8px);
  height: calc(var(--main-size-text) + 4px);
  border-radius: 30px;
  font-size: calc(var(--main-size-text) - 3px);
  text-align: center;
  line-height: calc(var(--main-size-text) + 3px);
  box-shadow: 0 0 0px 3px #fff;
}
.dialogs__item-info-bottom .message__icon-readed {
  bottom: 0;
  left: auto;
  right: 0;
}