@import 'reset-css';
@import './variables'; 
@import './layouts/chat';
body{
  background: #f4f7fd;
}
body, html, #root, .wrapper{
  height: 100%;
  color: #202020;
  font-size: var(--main-size-text );
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  outline: none;
}
.ant-btn-circle {
  border: 0;
  box-shadow: none;
  color: #202020 !important;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }

  &:after {
    display: none;
  }
}
body::-webkit-scrollbar {
  width: 0;
}
a{
  text-decoration: none;
}
.wrapper{
  overflow: hidden;
}
.ant-popover{
  .ant-popover-inner{
    background:var(--background-color);
  }
 .ant-popover-arrow:before{
    background:var(--background-color) !important;
  }
  .ant-btn{
    background:inherit;
    border:none;
    color:var(--color-text);
    &:where(.css-dev-only-do-not-override-12upa3x).ant-btn-default:not(:disabled):hover{
      color: var(--blue);
      border-color:var(--blue);
    }
  }
}
.ant-modal-content{
  background:var(--background-color) !important; 
  label{
    color:var(--color-text) !important;
  }
  .ant-modal-title{
    background:var(--background-color) !important;
    color:var(--color-text) !important;
  }
  .ant-select-selection-search,.ant-select-selector{
    background:var(--background-color) !important; 
    border-color: var(--background-secondaryСolor) !important;
    color:var(--color-text) !important;
  }
  .anticon-close {
    svg{
      color:var(--color-text) !important;
    }
    
  }
  button{
    background: var(--background-secondaryСolor) !important;
    color:var(--color-text) !important;
    border-color: var(--background-secondaryСolor) !important;
  }
  .ant-modal-close{
    background:none !important;
  }
}
.ant-empty-description{
  color:var(--color-text) !important;
}