
.video{
  position: relative;
  cursor: pointer;
  video{
    border-radius: 20px;
    object-fit: cover;
    max-width: 250px;
  }
  &-duration{
    position: absolute;
    left: 5%;
    top: 5%;
  }
}
.modal-video{
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  background-color: rgba(0,0,0,.8);
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 100%;
  video{
    object-fit: cover;
    height: 60%;
    width: 60%;
  }
}



@media (max-width: 350px){
  .video{
    video{
      max-width: 60vw;
    }
  }

}