
@import '../../styles/variables.scss';

.dialogs{
      &__search{
      padding: calc(var(--main-size-text ) - 5px) calc(var(--main-size-text ) + 6px) calc(var(--main-size-text ) + 6px) calc(var(--main-size-text ) + 6px);
      position: relative;
      $searchs: &;
      .ant-input,button{
        border: 0;
        height: calc(var(--main-size-text ) + 24px) ;
        padding: calc(var(--main-size-text ) - 10px) calc(var(--main-size-text ) - 3px) calc(var(--main-size-text ) - 8px);
        &::placeholder{
          color:var(--color-text-secondary) ;
        }
      }
      &-icon{
        position: absolute;
        right: calc(var(--main-size-text ) + 16px) ;
        top: calc(var(--main-size-text ) + 6px) ;
        color:var(--color-text) ;
        min-width:var(--main-size-text );
        min-height:var(--main-size-text );
        transition: opacity .5s ease;
      }
      &:hover{
        #{$searchs}-icon{
          opacity: .6;
        }
      }
    }
  &__item{
    display: flex;
    margin-bottom: calc(var(--main-size-text ) + 16px) ;
    $item: &;
    color: $black;
    transition: all .1s ease;
    color:var(--color-text);
    &:hover{
      background-color:var(--background-secondary–°olor);
      color:var(--color-text);
    }
    &--selected, &--selected:hover{
      background-color: var(--blue);
      color:#FFF !important;
    }
    &-avatar {
      position: relative;
      flex: 0 0 calc(var(--main-size-text ) + 26px) ;
      width: calc(var(--main-size-text ) + 26px) ;
      height: calc(var(--main-size-text ) + 26px) ;
      margin-right:  calc(var(--main-size-text ) - 4px) ;
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    &--online {
      #{$item}-avatar {
        &::before {
          display: block;
          position: absolute;
          bottom: -2px;
          right: 0;
          content: "";
          background-color: #00c980;
          border-radius: 30px;
          width: 13px;
          height: 13px;
          border: 3px solid #fff;
        }
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      &-top {
        display: flex;
        b {
          font-weight: 500;
          font-size:  14px;
          flex: 1;
          margin-bottom: 6px;
        }
        span {
          opacity: 0.5;
        }
      }
      &-bottom {
        position: relative;
        p {
          opacity: 0.7;
          text-overflow: ellipsis;
          overflow: hidden;
          width:  calc(var(--main-size-text ) * 15.7142857);
          height: 1.2em;
          white-space: nowrap;
        }
        &-count {
          position: absolute;
          right: 0;
          bottom: 0;
          background: #f46b6b;
          color: #fff;
          font-weight: bold;
          width: 100%;
          min-width:  calc(var(--main-size-text ) + 4px) ;
          max-width:  calc(var(--main-size-text ) + 8px) ;
          height:  calc(var(--main-size-text ) + 4px) ;
          border-radius: 30px;
          font-size:  calc(var(--main-size-text ) - 3px) ;
          text-align: center;
          line-height:  calc(var(--main-size-text ) + 3px) ;
          box-shadow: 0 0 0px 3px #fff;
        }
        .message__icon-readed{
          bottom: 0;
          left: auto;
          right: 0;
        }
    }
  }
}}