@import '../../styles/variables.scss';
.message{
  $self: &; 
  display: flex;
  margin-bottom: calc(var(--main-size-text ) + 1px);

  &__avatar{
    display:flex;
    flex-direction: column-reverse;
    cursor: pointer;
    .avatar{
      border-radius:50px ;
      width: calc(var(--main-size-text ) + 19px);
      height: calc(var(--main-size-text ) + 19px);
      margin-right: calc(var(--main-size-text ) - 1px);
      margin-bottom:calc(var(--main-size-text ) - 9px);
      font-size: var(--main-size-text);
      line-height: calc(var(--main-size-text ) + 19px);
    }
  }
  &__attachments{
    display: flex;
    margin-bottom: calc(var(--main-size-text ) - 9px);
    order:1;
    &-item{
      $item:&;
      margin-right:calc(var(--main-size-text ) - 9px);
      cursor: pointer;
      position: relative;
      img{
        width: calc(var(--main-size-text ) + 31px);
        height:  calc(var(--main-size-text ) + 31px);
        border-radius:8px;
      }

      &:hover{

          #{$item}-overlay{
            opacity: 1;
          }
          
      }

      &-overlay{
        opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color:rgba(0,0,0, 0.3 );
        transition: opacity 0.15s ease-in-out;
        border-radius:8px;
        .anticon-eye{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          svg{
            color:white;
            font-size:  calc(var(--main-size-text ) + 4px);
          }
        }
      }
    }
    
  }
  &__content{
      display: flex;
      max-width: 440px;
      max-width: calc(var(--main-size-text )  * 31.4285714);
      margin-bottom: calc(var(--main-size-text ) + 6px);
      position: relative;
      
  }
  &__icon{
    &-readed{
      position: absolute;
      bottom: calc(var(--main-size-text ) + 4px);
      left: calc(var(--main-size-text ) - 39px);
      &--no{
        left: calc(var(--main-size-text ) - 34px);
      }

    }
    &-actions{
      display: none;
      transform: rotate(90deg);
      position: absolute;
      left: -31px;
      top: -5px;
    }
  }

  &--is-audio{
    audio{
      display: none;
    }
    #{$self}__bubble{
      width:calc(var(--main-size-text ) * 20);
      position: relative;
      overflow: hidden;
    }
    #{$self}__audio{
      padding: calc(var(--main-size-text ) + 1px);
      background-color:var(--blue);
      border-radius: 6px 6px 0 6px;
      width:calc(var(--main-size-text ) * 17.8571429);
      overflow: hidden;
      position: relative;
      &-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }
      &-wave{
        z-index: 2;
        justify-content: center;
        display: flex;
        img{
          width: calc(var(--main-size-text) + 80%);
        }
      }
      &-btn{
        z-index: 2;
        button{
          cursor: pointer;
          line-height: 50%;
          border:0;
          width: calc(var(--main-size-text ) + 14px);
          height: calc(var(--main-size-text ) + 14px);
          border-radius:30px;
          background:var( --blue--dark);
          img{
            height: 13px;
            position: relative;
            left: 1px;
          }
        }
      }
      &-duration{
        color: #fff;
        font-weight: 500;
        opacity: 0.5;
        font-size: calc(var(--main-size-text ) - 2px);
        z-index: 2;
      }
      &-progress{
        background-color:var(--blue-light);
        left: 0;
        top: 0;
        position: absolute;
        height: 100%;
        transition:width 0.3s ease;
        z-index: 1;
      }
    }
  }
  &__bubble{
    background: var(--blue);
    box-shadow: 0px 5px 5px rgba(54,116,255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    padding:  calc(var(--main-size-text ) + 1px);
    margin-bottom: 8px;
    word-break: break-all;
  }
  &__date{
    
    width: 100%;
    height: 10px;
    white-space: nowrap;
    font-size: calc(var(--main-size-text) - 2px);
    opacity: 0.5;
    position: absolute;
  
  }
  &__text{
    color: #fff;
    line-height:  calc(var(--main-size-text ) + 6px);
  }
  &--isMe{
    display: flex;
    flex-direction: row-reverse;
    #{$self}__date{
      bottom: -10px;
      right:calc(var(--main-size-text) + 42px);
    
    }
    #{$self}__content{
       margin-bottom: calc(var(--main-size-text ) + 1px);
       flex-direction: row-reverse;
       &:hover{
        #{$self}__icon-actions{
          display: block;
        }
      }
    }
    #{$self}__avatar{
      cursor: default;
      margin-right: 0;
      margin-left: calc(var(--main-size-text ) - 1px);

   }

   #{$self}__info{
    text-align: right;
    display: flex;
    align-items:center;

 }
    #{$self}__bubble{
      background:var(--background-secondary–°olor);
      border: 1px solid var(--background);
      box-shadow:0px 4px 4px rgba(0,0,0,0.0220444);
      border-radius: 12px 12px 0px 12px;
      flex-direction: row-reverse;
      order:2;
      .btn-translate{
        left: 0;
      }
      #{$self}__text{
        color:var(--color-text);
      }
    }
  }
  &--is-typing{
    #{$self}__bubble{
      background-color: var( --blue-light);
      box-shadow:0px 5px 5px rgba(54, 116, 255, 0.04);
      padding: calc(var(--main-size-text ) + 1px) calc(var(--main-size-text ) + 4px);
    }
  }
  &--image{
    #{$self}__attachments{
      &-item{
        img{
        
          width: calc(var(--main-size-text ) + 136px);
          height:calc(var(--main-size-text ) + 136px);
        }
      }
    }
  }
  &__typing{
    
    span{
        height: calc(var(--main-size-text ) - 6px);
        width: calc(var(--main-size-text ) - 6px);
        border-radius:50%;
        background:var(--blue--dark);
        display:inline-block;
        margin-right: 8px;
        animation-name: TypingAnimation;
        animation-timing-function: ease-in-out ;
        animation-iteration-count: infinite;
        animation-duration:0.5s;

      &:nth-of-type(2){
        animation-duration: 0.6s;
      }
      &:nth-of-type(3){
        animation-duration:0.7s;
      }
    }
  }

}


@keyframes TypingAnimation{
  0%{
   opacity: 0;
  }
  50%{
    opacity: 0.5;
   }
   100%{
    opacity: 1;
   }
}
.message__file{
  box-shadow:0px 4px 7px rgb(0 0 0 / 21%);
  border-radius: 12px 12px 12px 0px;
  background-color:var(--blue);
  padding: 10px;
  padding-top: 15px;
  width:200px;
  &-header{

      &-item{
        display: flex;
        justify-content: space-between;
        color:white;
        div{
          display: flex;
        }
        .date{
          text-align: right;
        }
        p{
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 80px;
          text-align: left;
        }
      }
    &-size{
      color:var(--color-text);
      opacity: 0.8;
      padding-top: 3px;
    }
    padding:0px 0 10px 0;
    border-bottom: 1px solid white;
    color:var(--color-text)
  }
  &-bottom{
    text-align: center;
    padding-top: 10px;
    a{
      color: white;
      cursor: pointer;
      transition: all .4s ease;
      &:hover{
        color:var(--blue--dark)
      }
    }
  }
}
.message--isMe{
  .message__file{
    border-radius: 12px 12px 0px 12px;  
    margin-top: calc(var(--main-size-text) - 4px);
  }
}
.message-attachments-many{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  &-file{
    flex-direction: column !important;
  }
  .video video{
    border-radius:10px;
    min-width: calc(var(--main-size-text) * 7);
    min-height: calc(var(--main-size-text) * 7);
    max-width: calc(var(--main-size-text) * 13);
    max-height: calc(var(--main-size-text) * 13);
  }
    .message__attachments-item img {
      width: calc(var(--main-size-text) + 50px);
      height: calc(var(--main-size-text) + 50px);
      border-radius: 8px;
      object-fit: cover;
  }
  
  
}

.message__bubble{
  .message__attachments-item{
    margin-top: calc(var(--main-size-text) );
  }
  p ~.message-attachments-many{
    margin-top: calc(var(--main-size-text) + 5px);
  }
  .message-attachments-many{
    display: grid;
    grid-template-columns: 1fr 1fr;

;
    &-file{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      flex-direction: column !important;
    }
  }
}

.embeddedMessage{
  display: flex;
  border-left: 2px solid var(--blue);
  padding: 0 40px 0 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: all .5s ease-in;
  &:hover{
    background-color:rgba(151, 151, 151, 0.288);
    border-radius:5px;
  }
  img, video{
    width: 40px;
    height: 40px;
    border-radius:5px;
    object-fit:cover;
  }
  .File-Icon{
    margin:0;
  }
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--main-size-text) + 10px);
    height: calc(var(--main-size-text) + 10px);
    padding: calc(var(--main-size-text) + 10px) calc(var(--main-size-text) + 8px);
    text-align: center;
    background-color: var(--blue);
    border-radius: 6px 15px 6px 6px;
    margin-right: calc(var(--main-size-text));
    transition: all 0.5s ease;
    position: relative;
}
  &-info{
    
    text-align: left;
    margin-left: 10px;
    border-radius:5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    
  }
}

.focus-message{
  position: relative;
 &::before{
  content: '';
  width: 100vw;
  height: 100%;
  bottom:50%;
  transform: translateY(50%);
  opacity: .4;
  left: 0;
  background: black;
  position: absolute;
 }
}
.actionMessage{
  display: flex;
  flex-direction: column;
}